@import "./var";

body {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  color: var(--mainColorBlack);
}

._container {
  max-width: $container-width;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}