:root {
  --colorWhite: white;
  --mainColorBlack: #1B1A17;

  --accentColorGray: #555248;
  --accentColorDarkGray: #444240;
  --accentColorLightCrey: #8B8371;
  --colorLightGray: rgb(241, 236, 225);

  --colorDarkBeige: #D4B098;
  --colorBeige: #E6C8B4;
  --colorBeigeLight: rgb(231, 216, 196);
  --bgColorLightBeige: #FDFDFB;
  --hoverColorBeige: rgb(240, 230, 217);

  --balckTextColor: rgba(27, 26, 23, 0.82);
  --whiteTextColor: rgba(255, 255, 255, 0.75);
}

$primary-font-family: 'Roboto';
$secondary-font-family: 'Playfair Display';
$tertiary-font-family: 'Prata';

$primary-font-weight: 400;
$secondary-font-weight: 500;
$tertiary-font-weight: 700;

$primary-font-size: 16px;
$secondary-font-size: 14px;
$tertiary-font-size: 12px;
$title-font-size: 32px;

$header-height: 85px;
$container-width: 1170px;