:root {
  --colorWhite: white;
  --mainColorBlack: #1B1A17;
  --accentColorGray: #555248;
  --accentColorDarkGray: #444240;
  --accentColorLightCrey: #8B8371;
  --colorLightGray: rgb(241, 236, 225);
  --colorDarkBeige: #D4B098;
  --colorBeige: #E6C8B4;
  --colorBeigeLight: rgb(231, 216, 196);
  --bgColorLightBeige: #FDFDFB;
  --hoverColorBeige: rgb(240, 230, 217);
  --balckTextColor: rgba(27, 26, 23, 0.82);
  --whiteTextColor: rgba(255, 255, 255, 0.75);
}